.bodyArea{
    width: 100%;
    min-height: 100vh;
    .container{
        padding: 4.2rem 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        .legends{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .labelDate{
                border: solid 1px var(--Text);
                display: flex;
                position: relative;
                padding: 0.4rem 3.6rem;
                border-radius: 5px;
                &:hover{
                    background-color: var(--Transparente);
                }
                cursor: pointer;
                .inputContainer{
                    visibility: hidden;
                }
                .newStyle{
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    svg{
                        font-size: 1.2rem;
                    }
                }
            }

        }
        .dashboardOptions{
            background-color: var(--Transparente);
            padding: 0.8rem;
            display: flex;
            align-items: center;
            gap: 1.6rem;
            border-radius: 10px;
            width: fit-content;
            button{
                padding: 0.4rem 1.2rem;
                border-radius: 4px;
            }
            .buttonStyle{
                background-color: var(--Background);
            }
        }
        .allCalendar1, .allCalendar2{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2.4rem 1.6rem;    
            .totalValues{
                display: flex;
                flex-direction: column;
                max-width: 100%;
                padding: 1.8rem 1.2rem;
                border-radius: 4px;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3{
                        font-size: 1.8rem;
                        font-weight: 400;
                    }
                    svg{
                        opacity: 0.8;
                        font-size: 2.4rem;
                    }
                }
                h4{
                    margin-top: 2.4rem;
                    font-size: 2.4rem;
                }
                p{
                    font-size: 1.2rem;
                    margin-top: 0.8rem;
                    opacity: 0.8;
                }
            }
            .barChart{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.2rem;
                height: 400px;
                align-items: center;
                h3{
                    font-weight: 300;
                    font-size: 1.8rem;
                }
            }
            .carousel{
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

    }
}

@media (min-width:1000px){
    .bodyArea{
        .container{
            max-width: 900px;
            margin: auto;
            .allCalendar1{
                width: 100%;
                display: grid;
                gap: 4.2rem 1.6rem;   
                grid-template-columns: repeat(2, 1fr);
                article{
                    &:nth-child(1){
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                    &:nth-child(2){
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                    &:nth-child(3){
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                }
            }
            .allCalendar2{
                width: 100%;
                display: grid;
                gap: 4.2rem 1.6rem;   
                grid-template-columns: repeat(2, 1fr);
            }
        }
        
    }
}


@media (min-width:1280px){
    .bodyArea{
        max-width: calc(100% - 360px);
        margin-left: 360px;
        .container{
            max-width: 1100px;
            margin: auto;
        }
    }
}

