.bodyArea{
    width: 100%;
    min-height: 100vh;
    .container{
        padding: 4.2rem 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        .legends{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1.6rem;
            .dateAndLarge{
                display: flex;
                align-items: center;
                gap: 1.6rem;
                button{
                    display: none;
                }
                .calendar{
                    transform: scale(1.5) translateY(2.4rem);
                                    }
                .inputDate{
                    color: var(--Text);
                    border: solid 1px var(--Text);
                    padding: 0.8rem;
                    border-radius: 5px;
                    text-align: center;
                    z-index: 9999;
                }
            }
        }
        .dashboardOptions{
            background-color: var(--Transparente);
            padding: 0.8rem;
            display: flex;
            align-items: center;
            gap: 1.6rem;
            border-radius: 10px;
            width: fit-content;
            button{
                padding: 0.4rem 1.2rem;
                border-radius: 4px;
            }
            .buttonStyle{
                background-color: var(--Background);
            }
        }
        .allCalendar{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;    
            .carousel{
                padding: 0.4rem 0.1rem;
                z-index: 0;
                .totalValues{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    padding: 1.8rem 1.2rem;
                    border-radius: 4px;
                    justify-content: space-between;
                    height: 100%;
                    background-color: var(--Transparente);
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
                    margin-right: 1.6rem;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h3{
                            font-size: 1.4rem;
                            font-weight: 400;
                        }
                        svg{
                            opacity: 0.8;
                            font-size: 2.4rem;
                        }
                    }
                    h4{
                        margin-top: 2.4rem;
                        font-size: 2.4rem;
                    }
                    p{
                        font-size: 1.2rem;
                        margin-top: 0.8rem;
                        opacity: 0.8;
                    }
                }

            }
            .barChart{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                height: 400px;
                background-color: var(--Transparente);
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
                padding: 1.6rem;
                h3{
                    font-weight: 400;
                    font-size: 1.6rem;
                    text-align: center;
                }

            }
        }

    }
}

@media (min-width:768px){
    .bodyArea{
        .container{
            max-width: 100%;
            margin: auto;
            .legends{
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .labelDate{
                    .newStyle{
                        display: flex;
                        align-items: center;
                        gap: 1.2rem;
                        padding: 0.4rem 3.6rem;
                        border-radius: 5px;
                        border: solid 1px var(--Text);
                        display: flex;
                        svg{
                            font-size: 1.2rem;
                        }
                        &:hover{
                            background-color: var(--Transparente);
                        }
                    }
                }
                
            }
            .allCalendar{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                article{
                    &:nth-child(1){
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                    &:nth-child(2){
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }
                    &:nth-child(3){
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }
                    &:nth-child(4){
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }
                    &:nth-child(5){
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }
                    &:nth-child(6){
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }
                    &:nth-child(7){
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }
                }
            }
            .allCalendar2{
                width: 100%;
                display: grid;
                gap: 4.2rem 1.6rem;   
                grid-template-columns: repeat(2, 1fr);
            }
        }
        
    }
}

@media (min-width:1000px){
    .bodyArea{
        .container{
            max-width: 100%;
        }
        
    }
}

@media (min-width:1280px){
    .bodyArea{
        max-width: calc(100% - 26rem);
        margin-left: 26rem;
        .container{
            max-width: 100%;
            margin: auto;
                .legends{
                .dateAndLarge{
                    button{
                        display: flex;
                        &:hover{
                            transform: scale(0.9);
                        }
                    }
                }
            }
            .allCalendar{
                width: 100%;
                display: grid;
                gap: 1.6rem;   
                grid-template-columns: repeat(4, 1fr);
                article{
                    &:nth-child(1){
                        grid-column-start: 1;
                        grid-column-end: 5;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                    &:nth-child(2){
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                    &:nth-child(3){
                        grid-column-start: 2;
                        grid-column-end: 4;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                    &:nth-child(4){
                        grid-column-start: 4;
                        grid-column-end: 5;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                    &:nth-child(5){
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 3;
                        grid-row-end: 4;
                    }
                    &:nth-child(6){
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 3;
                        grid-row-end: 4;
                    }
                    &:nth-child(7){
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 3;
                        grid-row-end: 4;
                    }
                }
            }            
        }
    }
    .large{
        max-width: 100% ;
        margin-left: 0;
        .container{
            padding:2.4rem;
        }
    }
}

