.bodyArea{
    width: 100%;
    min-height: 100vh;
    background-color: var(--Transparente);
    .container{
        padding: 4.2rem 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        .legends{
            display: flex;
            align-items: center;
            justify-content: space-between;
            input{
                padding: 1.2rem 2.4rem;
                border-radius: 10px;
                color: var(--Black);
                color: var(--Black);
                background-color: rgb(231, 231, 231);
            }
        }
        .allCalendar1, .allCalendar2{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2.4rem 1.6rem;    
            .totalValues{
                display: flex;
                flex-direction: column;
                max-width: 100%;
                padding: 1.8rem 1.2rem;
                border-radius: 4px;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3{
                        font-size: 1.8rem;
                        font-weight: 400;
                    }
                    svg{
                        opacity: 0.8;
                        font-size: 2.4rem;
                    }
                }
                h4{
                    margin-top: 2.4rem;
                    font-size: 2.4rem;
                }
                p{
                    font-size: 1.2rem;
                    margin-top: 0.8rem;
                    opacity: 0.8;
                }
            }
            .barChart{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.2rem;
                height: 400px;
                h3{
                    font-weight: 300;
                    font-size: 1.8rem;
                }
            }
            .carousel{
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .rating{
                padding: 3.2rem 2.4rem;
                border-radius: 4px;
                border:2px solid var(--Primary-normal);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 4.6rem;
                h3{
                    font-weight: 300;
                }
                .rateAndEmoji{
                    display: flex;
                    align-items: center;
                    gap: 1.6rem;
                    h3{
                        font-size: 3.6rem;
                        font-weight: 300;
                    }
                    svg{
                        font-size: 4.6rem;
                    }
                }
            }
        }

    }
}

@media (min-width:768px){
    .bodyArea{
        .container{
            max-width: 800px;
            margin: auto;
            .allCalendar1{
                width: 100%;
                display: grid;
                gap: 4.2rem 1.6rem;   
                grid-template-columns: repeat(2, 1fr);
                article{
                    &:nth-child(1){
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                    &:nth-child(2){
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                    &:nth-child(3){
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                }
            }
            .allCalendar2{
                width: 100%;
                display: grid;
                gap: 4.2rem 1.6rem;   
                grid-template-columns: repeat(2, 1fr);
                article{
                    &:nth-child(1){
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }

                }
            }
        }
        
    }
}

@media (min-width:900px){
    .bodyArea{
        .container{
            max-width: 900px;
            margin: auto;
            .allSections{
                grid-template-rows: repeat(3,1fr);
                .section1{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
                .section2{
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
                .section3{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
                .section4{
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
                .section5{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
                .section6{
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
            }
        }
    }
}

@media (min-width:1280px){
    .bodyArea{
        max-width: calc(100% - 360px);
        margin-left: 360px;
        .container{
            max-width: 1100px;
            margin: auto;
        }
    }
}



@keyframes bar{
    0%{
        height: 0;
    }
    90%{
        height: 100%;
    }
}

@keyframes barHorizon{
    0%{
        width: 0%;
    }
    90%{
        width: 100%;
    }
}