.container{
    position: absolute;
    width: 100%;
    max-width: 60rem;
    height: 94vh;
    max-width: 60rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 20px var(--Black);
    background-color: var(--Background);
    .borderArea{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem;
        border-bottom: 1px solid var(--Primary-normal);
        button{
            &:hover{
                svg{
                    transform: scale(1.2);
                }
            }
            svg{
                transition: all .2s ease-in-out;
            }
        }
    }
    .all{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1.2rem;
        gap: 1.6rem;
        .beforeUl{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            button{
                background-color: var(--Transparente);
                padding: 1.2rem;
                border-radius: 5px;
                box-shadow: var(--Black) -1px 2px 4px;
                align-items: center;
                display: none;
                justify-content: center;
                &:hover{
                    svg{
                        transform: scale(1.2);
                    }
                }
                svg{
                    transition: all .2s ease-in-out;
                }
            }
        }
        ul{
            overflow: auto;
            li{
                padding: 0.8rem;
            }
            li:nth-child(odd){
                background-color: var(--Transparente);
            }
        }
    }
}

@media (min-width:768px){
    .container{
        .all{
            .beforeUl{
                button{
                    display: flex;
                }
            }
        }
    }
}